# ============================================================
# SISTEMA
# ============================================================
.DS_Store
Thumbs.db

# ============================================================
# PYTHON
# ============================================================
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
.venv/
venv/
env/

# ============================================================
# MANIM (IMPORTANTE)
# ============================================================

# Caché de LaTeX
**/media/Tex/
**/media/texts/

# Archivos parciales de render (MUCHA basura)
**/partial_movie_files/
**/media/videos/**/partial_movie_files/

# Ignorar media interna de Manim
manim/media/
lectures_strang_en/**/manim/media/

# Logs y archivos intermedios
*.log

# ============================================================
# LATEX
# ============================================================
*.aux
*.out
*.toc
*.fdb_latexmk
*.fls
*.synctex.gz

# ============================================================
# MATLAB
# ============================================================
*.asv

# ============================================================
# POWERPOINT
# ============================================================
~$*.pptx

# ============================================================
# OPCIONAL
# ============================================================

# *.mp4
# *.png